* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #FFE1FF;
    --cor-secundaria: #E4B1F0;
    --cor-terciaria: #7E60BF;
    --cor-hover: #433878;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    box-sizing: border-box;
}

.cabecalho {
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 25px;
    margin-bottom: 15px;
}

.cabecalho__navegacao{
    display: flex;
    gap: 80px;
    padding-left: 7%;
}

.cabecalho__navegacao__link {
    color: aquamarine;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}

.cabecalho__navegacao__link:hover {
    color: red;
}

.apresentacao {
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-evenly;
}

.imagem {
    width: 478px;
    border-radius: 10px;
}

.declaracao {
    justify-content: space-evenly;
}

.declaracao__titulo {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5%;
}

.declaracao__texto {
    margin: 0% 8%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.pai {
    display: flex;
    justify-content: space-between;
    margin: 2% 8%;
}

.pai > div > img{
    width: 300px;
    border-radius: 15px;
}

.foto {
    height: 450px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 19px;
}

.rodape {
    text-align: center;
    font-size: 24px;
    padding: 24px;
    background-color: var(--cor-terciaria);
}

.rodape__texto {
    color: aquamarine;
}

.titulo__fotos {
    text-align: center;
    font-size: 36px;
}